:root {
    --text: #ffffff;
    --background: #252526;
    --primary: #4840db;
    --secondary: #0f1f48;
    --accent: #b1abee;

}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Lexend";
}

h1, h2, a, center, li {
    color: var(--primary);
}

p {
    color: var(--accent);
}

center{
    font-size: 2em;
}

button {
    padding: 4px;
    color: var(--primary);
    border: 10px solid var(--secondary);
    font-family: "Lexend";
}   

video {
    background: var(--background);
}

#Weird {
    color: var(--accent);
    font-style: italic;
    font-style: bolder;
    text-decoration: var(--accent) wavy underline;
}
