:root {
    --text: #ffffff;
    --background: #252526;
    --primary: #4840db;
    --secondary: #0f1f48;
    --accent: #b1abee;

}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Lexend";
}

h1, h2 {
    color: var(--primary);

}

p {
    color: var(--accent);

}

li{
    color: var(--primary);

}

button {
    color: var(--primary);
    border: 10pz(--secondary);
    font-family: "Lexend";
}   
