:root {
    --text: #ffffff;
    --background: #252526;
    --primary: #4840db;
    --secondary: #0f1f48;
    --accent: #b1abee;

}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Lexend";
}

h1, h2, a, center {
    color: var(--primary);
}

li {
    color: var(--primary);
}


#hpList > * {
    color: var(--primary);
    border: 5px solid var(--accent);
    padding-left: 9px;
    padding-right: 8px;
    max-width: 15px;
    margin-left: 2em;
}

p {
    color: var(--accent);
}

#realImage {
    border: 5px solid;
    animation: slide 3s infinite alternate;

}

@keyframes slide {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100px);
    }
}

center{
    font-size: 2em;
    animation: grow 3s infinite alternate;
}


button {
    padding-top: 4px;
    color: var(--primary);
    border: 10px solid var(--secondary);
    font-family: "Lexend";
    animation: rotation 3s infinite;
}   

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

video {
    background: var(--background);
}

#Weird {
    color: var(--accent);
    font-style: italic;
    font-style: bolder;
    text-decoration: var(--accent) wavy underline;
}

#Blue {
    color: blue;
    text-decoration: dotted underline;
}

#Red {
    color: red;
    text-decoration: dotted underline;
}

.centeredText {
    display: flex;
    justify-content: center;
    font-size: 2em;
    animation: grow 3s infinite alternate;
}

@keyframes grow {
    from {
        transform: scale(0.1);
    }
    to {
        transform: scale(1);
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > ul {
    display: flex;
    list-style-type: none;
    gap: 35px;

}

#nav_info {
    font-size: 30px;
    text-decoration: none;
}

#nav_info:hover {
    cursor: pointer;
}

.menItem {
    font-size: 1em;
    transition: transform 0.3s ease-in-out; 
}

.menItem:hover {
    transform: scale(1.3);
}
